<footer>
     <div class="Join-us d-flex">
        加入會員取得 9 折優惠 <span>馬上註冊</span>
    </div>
    <!-- nav -->
    <nav class="fd-menu d-flex d-none container">
            <p class="logo"><a href="index.html"></a></p>
            <p>
                <span><a href="product-list.html">商品列表</a></span>
                <span><a href="#">品牌故事</a></span>
            </p>
        </nav>
        <div class="Copyright f-14">
            <P>Copyright ©2025 URBNSTYLE</P>
            <P>All Rights Reserved.</P>
        </div>
</footer>