
<header class="hd-content">
    <nav class="menu-bar">
        <ul class="menu-bar list-none">
            <li class="logo"><a href="index.html"></a></li>
            <li class="m-none"><a href="product-list.html">商品列表</a></li>
            <li class="m-none"><a href="#">品牌故事</a></li>
        </ul> 
        <ul class="menu-bar list-none">
            <li class="user"><a href="login.html"> </a></li>
        </ul> 
        </div>
    </nav>
</header>