 

<header class="hd-content">
    <nav>
        <div class="menu-bar">
            <span class="logo"></span>
            <span class="m-none"><a href="brand-list.html">商品列表</a></span>
            <span class="m-none"><a href="brand.html">品牌故事</a></span>
        </div>
        <div class="menu-bar">
            <span class="user"></span>
        </div>
    </nav>
</header>