.d-flex {
    display: flex;
}

.list-none {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 1.2;
}

/* 字級 */
.f-32 {
    font-size: 32px;
}

.f-20 {
    font-size: 20px;
}

.f-14 {
    font-size: 14px;

}

.f-700 {
    font-weight: 700;
}

.f-500 {
    font-weight: 500;
}

.t-decoration {
    text-decoration: line-through;
}

/* 顏色 */
.color_bk {
    color: #212529;
}

.color_g {
    color: #C0FA73;
}

.color_gy {
    color: #6C757D;

}

.color_red {
    color: #D74F4F;
}

hr {
    background-color: #DEE2E6;
    height: 1px;
    margin: 32px auto;
    width: 100%;
    border: 0;
}

/* 通用樣式 */
.container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    padding: 0 12px;
    width: calc(100% / 12);
    display: block;
}

.col-2 {
    padding: 0 12px;
    width: calc(100% / 12 * 2);
}

.hot-col-3 {
    padding: 0 12px;
    width: calc(100% / 12 * 3);
}

.chooset-col-3 {
    padding: 0 12px;
    width: calc(100% / 12 * 3);
}

.col-4 {
    padding: 0 12px;
    width: calc(100% / 12 * 4);
}

.col-6 {

    padding: 0 12px;
    width: calc(100% / 12 * 6);
}

.col-7 {
    padding: 0 12px;
    width: calc(100% / 12 * 7);
}

.col-8 {
    padding: 0 12px;
    width: calc(100% / 12 * 8);
}

.col-9 {
    padding: 0 12px;
    width: calc(100% / 12 * 9);
}

.col-10 {
    padding: 0 12px;
    width: calc(100% / 12 * 10);
}

.col-11 {
    padding: 0 12px;
    width: calc(100% / 12 * 11);
}

.col-12 {
    padding: 0 12px;
    width: calc(100% / 12 * 12);
}

// 產品list
.card-col-2 {
    padding: 0 12px;
    width: calc(100% / 12 * 2);
}

.card-col-4 {
    padding: 0 12px;
    width: calc(100% / 12 * 4);
}

.card-col-10 {
    padding: 0 12px;
    width: calc(100% / 12 * 10);
}


// 產品資料頁
.data-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.data-col-3 {
    padding: 0 12px;
    width: calc(100% / 12 * 3);
}

.data-col-5 {
    padding: 0 12px;
    width: calc(100% / 12*5);
}

.data-col-7 {
    padding: 0 12px;
    width: calc(100% / 12*7);
}

.data-col-6 {
    padding: 4px 4px;
    width: calc(100% / 12*6);
}
div {border: #000 1px solid;}


/* 距離 */
.me-48 {
    margin: 48px auto;
}

.me-64 {
    margin: 64px auto;
}

.me-b16 {
    margin-bottom: 16px
}

.me-b48 {
    margin-bottom: 48px
}

.me-b12 {
    margin-bottom: 12px
}

.me-b24 {
    margin-bottom: 24px
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

//定位 
.position-relative {
    position: relative;
}

// 區隔線
hr {
    background-color: #DEE2E6;
    height: 1px;
    margin: 32px auto;
    width: 100%;
    border: 0;
}

/* 麵包屑導航 */
.breadcrumb {
    color: #212529;
    font-weight: 500;
}

.breadcrumb ol li a {
    color: #6C757D;
    text-decoration: none;

}

.breadcrumb ol li a::after {
    content: "/";
    margin: 0 12px;
    text-decoration: none;
}

.breadcrumb ol li:last-child:after {
    content: "";
    margin: 0 12px;
}

/* 頁碼清單 -------------------------*/
.Pagination-bar {
    margin: 48px auto;
    align-items: center;
    justify-content: center;
}

.Pagination-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pagination-bar ul li {
    width: 48px;
    height: 48px;
    margin: 0 8px;
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Pagination-bar ul li:hover {
    background-color: #C0FA73;
}

.Pagination-bar .Previous,
.Pagination-bar .Next {
    font-size: 30px;
    justify-content: center;
    align-items: center;

}



@media screen and (max-width:1025px) and (min-width:320px) {
    .m-none {
        display: none;
    }

    .d-none {
        display: block;
    }

    .overflow-lg-auto {
        overflow: auto;
    }

    /* 通用樣式 */
    .container {
        width: 100%;
    }

    .hot-col-3 {
        padding: 0 8px;
        width: calc(100% / 12 *12);
    }

    .chooset-col-3 {
        width: calc(100% / 12 *6);
        padding: 0 8px;
    }

    .col-6 {
        width: 50%;
        padding: 0 6px;
    }

    // 產品list
    .card-col-2 {
        padding: 0 12px;
        width: calc(100% / 12 * 2);
    }

    .card-col-4 {
        padding: 0 6px;
        width: calc(100% / 12 * 6);
    }

    .card-col-10 {
        padding: 0;
        width: calc(100% / 12 * 12);
    }

    // 產品細節資料
    .data-col-3 {
        padding: 0 12px;
        width: calc(100% / 12 * 12);
    }

    .data-col-5 {
        padding: 0 12px;
        width: calc(100% / 12*12);
    }

    .data-col-6 {
        padding: 4px 4px;
        width: calc(100% / 12*12);
    }

    .data-col-7 {
        width: calc(100% / 1);
        padding: 0;
    }

    /*  <!--麵包屑導航 --> */
    .breadcrumb ol li a::after {
        margin: 0 8px;
    }

    /* 頁碼 */
    .Product-content {
        padding: 0;
    }

    .Pagination-bar {
        margin: 16px 0;
    }

    .Pagination-bar ul li {
        width: 40px;
    }


}